@media (min-width:50em) {
    body {
        padding: 0;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        height: 100%;
        max-width: 39.5em;
    }

    .card {
        padding: 2.28em;
    }

    .card-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-bottom: 0;
    }

    .card-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 0 0 0 .35em;
    }

    .card-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 0 0 .35em 0;
    }

    .community h1 {
        font-size: 1.5rem;
    }

    .community strong {
        font-size: 1.1rem;
        padding-top: 1.555em;
    }

    .community-description {
        font-size: 1rem;
        padding-top: .5em;
        padding-bottom: 2.5em;
        line-height: 1.65;
    }
}